/* BREAKPOINTS */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
.grey-color {
  color: #919192 !important;
}

.dark-grey-color {
  color: #1A1A1D !important;
}

.primary-color {
  color: #E42518 !important;
}

.pagination .page-item .page-link {
  margin: 0 .25rem;
  border-radius: 8px;
  border: 1px solid #B5B5B6;
  padding: 15px 20px;
  color: #919192;
}

.pagination .page-item.active .page-link {
  background-color: #1A1A1D;
  color: white;
  border-color: #1A1A1D;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.dashed-border {
  margin: 1rem 0;
  height: 1px;
  border: 1px dashed #919192;
  width: 100%;
}

.right-sticky > div {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.item-type {
  position: absolute;
  left: 0;
  top: 1.5rem;
  padding: .25rem 1rem;
  color: white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-type.instant {
  background-color: #B707BE;
}

.item-type.instant:before {
  border: 1rem solid #B707BE;
  border-left-width: 0;
  border-right-color: transparent;
}

.item-type.on-request {
  background-color: #058FA8;
}

.item-type.on-request::before {
  border: 1rem solid #058FA8;
  border-left-width: 0;
  border-right-color: transparent;
}

.item-type:before {
  content: "";
  display: block;
  position: absolute;
  right: -.95rem;
  top: 0;
  border: solid 1rem black;
  border-left-width: 0;
  border-right-color: transparent;
}

.btn {
  padding: 14px 1.5rem;
  border-radius: .5rem;
  font-weight: bold;
}

.btn.btn-sm {
  padding: 6px 24px;
}

.content {
  padding-bottom: 40px;
}

.form-control, .form-select {
  padding: 14px 1rem;
  border-radius: 8px;
  border: 1px solid #B5B5B6;
  font-weight: 300;
}

.form-control::-webkit-input-placeholder, .form-select::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(26, 26, 29, 0.2);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder, .form-select:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(26, 26, 29, 0.2);
  opacity: 1;
  /* Firefox */
}

.form-control::-ms-input-placeholder, .form-select::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(26, 26, 29, 0.2);
  opacity: 1;
  /* Firefox */
}

.form-control::placeholder, .form-select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(26, 26, 29, 0.2);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder, .form-select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(26, 26, 29, 0.2);
}

.form-control::-ms-input-placeholder, .form-select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(26, 26, 29, 0.2);
}

small {
  color: #919192;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1060;
  position: fixed;
  display: none;
}

.loading.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin-bottom: 1.5rem;
}

.header .navigation {
  padding: 1rem 0;
}

.header .navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .logo img {
  margin-right: .25rem;
}

.header .navigation ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.header .navigation ul li {
  margin-right: 1rem;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .header .navigation ul li {
    margin-bottom: .5rem;
  }
}

.header .navigation ul li:first-child {
  margin-left: 0;
}

.header .navigation ul .separator {
  border-right: 1px solid lightgray;
  width: 1px;
  height: 2rem;
}

.header .navigation .icon {
  font-size: 1rem;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .icon.light-blue {
  background-color: #9EFDE7;
}

.header .navigation .icon.blue {
  background-color: #9EB4FD;
}

.header .navigation .icon.yellow {
  background-color: #FDE39E;
}

.header .navigation .top-nav {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.header .page-title {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header .page-title .background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.header .page-title .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .page-title h1 {
  color: white;
}

.login {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.login .background {
  position: absolute;
  z-index: -1;
}

.login .background img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.login .content {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem 2rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 40%;
  width: 400px;
  left: 4rem;
}

@media (max-width: 576px) {
  .login .content {
    width: 95%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 2rem 1.5rem;
  }
}

.login .content .logo {
  margin-bottom: 2rem;
}

.login .content .logo img {
  margin-bottom: .25rem;
}

.login .content .logo .text p {
  margin-bottom: -6px;
}

.login .content .logo .text .title {
  font-weight: bold;
  font-size: 24px;
}

.login .content .form-label {
  font-size: 14px;
}

.login .content .forgot-pass {
  color: #E42518;
}

.take-booking {
  padding-bottom: 40px;
}

.take-booking .search-bar .date {
  position: relative;
}

.take-booking .search-bar .date .icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.take-booking .category .btn {
  background-color: transparent;
  font-weight: lighter;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.take-booking .category .btn.active {
  background: #EBB0AD;
  color: #E42518;
  font-weight: bolder;
}

.take-booking .item-wrapper .item-card {
  position: relative;
  border: 1px solid #DADADA;
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.take-booking .item-wrapper .item-card .item-img {
  margin-bottom: 1rem;
}

.take-booking .item-wrapper .item-card .item-img img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.take-booking .item-wrapper .item-card .item-title {
  font-weight: bold;
  margin-bottom: .5rem;
}

.take-booking .item-wrapper .item-card .item-price {
  margin-bottom: 1rem;
}

.take-booking .item-wrapper .item-card .item-price span {
  color: #919192;
}

.take-booking .item-wrapper .item-card .item-desc {
  color: #919192;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.your-basket .basket-section {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #B5B5B6;
}

.your-basket .item {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #B5B5B6;
  padding-bottom: 1.5rem;
}

.your-basket .item:last-child {
  border-bottom: 1px dashed #B5B5B6;
}

.your-basket .summary {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.your-basket .icon-rectangle {
  margin-right: .5rem;
  color: white;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.your-basket .icon-rectangle.request {
  background-color: #058FA8;
}

.your-basket .icon-rectangle.instant {
  background-color: #B707BE;
}

.your-basket .desc-list {
  position: relative;
  padding-left: 1rem;
}

.your-basket .desc-list.request::before {
  background-color: #058FA8;
}

.your-basket .desc-list.instant::before {
  background-color: #B707BE;
}

.your-basket .desc-list:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.offcanvas {
  width: 50%;
}

.offcanvas .oc-header {
  position: relative;
}

.offcanvas .oc-header .oc-image {
  margin-bottom: 1rem;
  min-height: 50px;
}

.offcanvas .oc-header .oc-image img {
  width: 100%;
  height: 314px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.offcanvas .oc-price {
  font-size: 1.15rem;
}

.offcanvas .check-date {
  margin-bottom: 1rem;
}

.offcanvas .check-date .btn {
  white-space: nowrap;
  margin-left: 1rem;
}

.offcanvas .booking-detail .booking-product {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.offcanvas .booking-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offcanvas .booking-widget .arrow {
  padding: 0 .5rem;
}

.offcanvas .booking-widget .calendars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.offcanvas .booking-widget .calendars .calendar-item {
  border-radius: 1rem;
  background-color: rgba(228, 37, 24, 0.16);
  color: black;
  border: 1px solid rgba(228, 37, 24, 0.16);
  width: 100%;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3px;
}

.offcanvas .booking-widget .calendars .calendar-item:first-child {
  margin-left: 0;
}

.offcanvas .booking-widget .calendars .calendar-item:last-child {
  margin-right: 0;
}

.offcanvas .booking-widget .calendars .calendar-item.disabled {
  background-color: transparent;
  border: 1px solid #919192;
}

.offcanvas .booking-widget .calendars .calendar-item.selected {
  background-color: #E42518;
  color: white;
  border-color: #E42518;
}

.offcanvas .booking-widget .calendars .calendar-item .day {
  text-transform: uppercase;
  font-weight: bold;
}

.offcanvas .booking-widget .calendars .calendar-item .date {
  font-size: 48px;
}

.offcanvas .booking-widget .calendars .calendar-item .price {
  font-weight: bold;
}

.offcanvas .subtitle {
  font-weight: bold;
  margin-bottom: .5rem;
}

.booking-success .content {
  padding: 40px 0;
}

.forgot-password .text {
  font-size: 1.15rem;
  text-align: center;
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .forgot-password .text {
    width: 80%;
    margin: auto;
  }
}

.forgot-password .text a {
  text-decoration: underline;
}

.content .top-desc {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.content .top-desc small {
  font-size: 12px;
  color: #919192;
}

.content .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.content .search-filter .icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .search-filter .icon.active {
  right: 8rem;
  left: auto;
  color: #E42518;
}

.content .search-filter .icon.active ~ #search_bar {
  padding-left: 1rem;
  padding-right: 3rem;
}

.content .search-filter .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 3rem;
}

.content .search-filter #search {
  border-radius: 0;
}

.content .search-filter #filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #B5B5B6;
  border-radius: 0;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  margin-left: -1px;
}

.content .filter-menu {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  background-color: white;
  z-index: 3;
  height: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

.content .filter-menu.active {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  visibility: visible;
  margin-top: 1rem;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
  padding: 2rem;
}

.content .table {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  overflow: hidden;
  border-left: 1px solid #919192;
  border-right: 1px solid #919192;
}

.content .table th {
  font-weight: normal;
}

.content .table th, .content .table td {
  padding: 1.5rem 1rem;
  vertical-align: middle;
  border-left: none;
  border-right: none;
}

.content .table .icons {
  text-align: center;
}

.content .table .icons a:not(:last-child) {
  margin-right: 1.25rem;
}

.content .table .status {
  padding: .5rem 1rem;
  border-radius: 8px;
  display: inline-block;
}

.content .table .status.completed {
  color: #186EE4;
  background-color: #B2CEF4;
}

.content .table .status.pending {
  color: #E4C518;
  background-color: #F6ECB4;
}

.content .table .status.failed {
  color: #C10C00;
  background-color: #EBB0AD;
}

.content .badge-item {
  background-color: #EBB0AD;
  color: #E42518;
  padding: 6px .5rem;
  margin-right: .5rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

.content .badge-item i {
  color: black;
  margin-left: .5rem;
}

.content .badges-container {
  padding: 1rem;
  background-color: #FAFAFA;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.content .accomodation-item {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.content .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .images .image {
  position: relative;
  margin-right: 1rem;
}

.content .images .image img {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .images .image .btn {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
}

.content .images .image .btn i {
  height: 12px;
}

@media (min-width: 992px) {
  .content .admin-items {
    width: 80%;
    margin: auto;
  }
}

.content .admin-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border: 1px solid #DADADA;
  border-radius: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.content .admin-items .item:hover {
  -webkit-box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
          box-shadow: 0 0 32px rgba(26, 26, 29, 0.16);
  border-color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn.btn-primary {
  background-color: #E42518;
  border-color: #E42518;
}

.btn.btn-primary:active {
  color: #fff;
  background-color: #b61e13;
  border-color: #ab1c12;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #c21f14;
  border-color: #b61e13;
}

.btn.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #e8463b;
          box-shadow: 0 0 0 0.25rem #e8463b;
}

.btn.btn-secondary {
  background-color: rgba(145, 145, 146, 0.16);
  border-color: rgba(145, 145, 146, 0.16);
  color: #000;
}

.btn.btn-secondary:active {
  color: #000;
  background-color: rgba(227, 227, 227, 0.328);
  border-color: rgba(207, 207, 207, 0.244);
}

.btn.btn-secondary:hover {
  color: #000;
  background-color: rgba(219, 219, 219, 0.286);
  border-color: rgba(207, 207, 207, 0.244);
}

.btn.btn-secondary:focus {
  color: #000;
  background-color: rgba(219, 219, 219, 0.286);
  border-color: rgba(207, 207, 207, 0.244);
  -webkit-box-shadow: 0 0 0 0.25rem #303030;
  box-shadow: 0 0 0 0.25rem #303030;
}

.btn.btn-outline-primary {
  color: #E42518;
  border-color: #E42518;
}

.btn.btn-outline-primary:active {
  color: #fff;
  background-color: #E42518;
  border-color: #E42518;
}

.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #E42518;
  border-color: #E42518;
}

.btn.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #e42518;
  box-shadow: 0 0 0 0.25rem #e42518;
}

.offcanvas .oc-header .oc-image {
  min-height: 50px;
}

.item-wrapper .item-card .item-img img {
  height: 220px;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1060;
  position: fixed;
  display: none;
}

.loading.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-widget .arrow {
  padding: 0 .5rem;
}

.booking-widget .calendars {
  width: 100%;
}

.ui-datepicker-prev span {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>') !important;
  background-position: 0px 0px !important;
}

.ui-datepicker-next span {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>') !important;
  background-position: 0px 0px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  text-align: center;
}

.ui-widget-header {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #E42518;
  border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-color: #E42518;
  color: white;
  border: 1px solid rgba(228, 37, 24, 0.7);
}

.ui-state-default:hover {
  background-color: rgba(228, 37, 24, 0.2);
  color: black;
}

.header .page-title h1 {
  text-shadow: 1px 1px 3px #232323;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  font-weight: 300;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/*# sourceMappingURL=app.css.map */