.instant, .on-request {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;

    .bi{
        padding: .5rem;
        background-color: $instant;
        color: white;
        font-size: 14px;
    }
}

.on-request .bi {
    background-color: $on-request;
}