.pagination {
    .page-item {
        .page-link {
            margin: 0 .25rem;
            border-radius: 8px;
            border: 1px solid $light-grey;
            padding: 15px 20px;
            color: $grey;
        }

        &.active {
            .page-link {
                background-color: $dark-grey;
                color: white;
                border-color: $dark-grey;
            }
        }

        &:last-child .page-link {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        &:first-child .page-link  {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
    }
}

.dashed-border {
    margin: 1rem 0;
    height: 1px;
    border: 1px dashed $grey;
    width: 100%;
}

.right-sticky {
    > div{
        position: sticky;
        top: 1rem;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.item-type {
    position: absolute;
    left: 0;
    top: 1.5rem;
    padding: .25rem 1rem;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;

    &.instant {
        background-color: $instant;

        &:before {
            border: 1rem solid $instant;
            border-left-width:0;
            border-right-color:transparent;
        }
    }

    &.on-request {
        background-color: $on-request;

        &::before {
            border: 1rem solid $on-request;
            border-left-width:0;
            border-right-color:transparent;
        }
    }

    &:before{
        content:"";
        display:block;
        position:absolute;
        right:-.95rem;
        top:0;
        border:solid 1rem black;
        border-left-width:0;
        border-right-color:transparent;
    }
}


.btn {
    padding: 14px 1.5rem;
    border-radius: .5rem;
    font-weight: bold;
  
    &.btn-sm {
      padding: 6px 24px;
    }
  }
  
  .content {
    padding-bottom: 40px;
  }
  
  .form-control, .form-select {
    padding: 14px 1rem;
    border-radius: 8px;
    border:1px solid $light-grey;
    font-weight: 300;
    
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($color: #1A1A1D, $alpha: 0.2);
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba($color: #1A1A1D, $alpha: 0.2);
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba($color: #1A1A1D, $alpha: 0.2);
    }
    
  }
  
  small {
    color: $grey;
  }

  .loading {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: white, $alpha: 0.9);
      z-index: 999;
      position: fixed;
      display: none;

      &.show {
          display: flex;
      }
  }