.take-booking {
    padding-bottom: 40px;
    .search-bar {
        .date {
            position: relative;

            .icon {
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
            }
        }
    }

    .category {
        .btn {
            background-color: transparent;
            font-weight: lighter;
            display: inline-flex;
            align-items: center;

            &.active {
                background: #EBB0AD;
                color: $primary;
                font-weight: bolder;
            }
        }
    }

    .item-wrapper {
        .item-card {
            position: relative;
            border: 1px solid #DADADA;
            @include boxContent;

            .item-img {
                margin-bottom: 1rem ;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

            .item-title {
                font-weight: bold;
                margin-bottom: .5rem;
            }

            .item-price {
                margin-bottom: 1rem;
                span {
                    color: $grey;
                }
            }

            .item-desc {
                color: $grey;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.your-basket {
    .item {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $grey;
        padding-bottom: 1.5rem;

        &:last-child {
            border-bottom: 1px dashed $grey;
        }
    }
    
    .summary {
        @include boxContent;
        padding: 1.5rem;
    }
}

.offcanvas {
    width: 50%;
    .oc-header {
        position: relative;
        
        .oc-image {
            margin-bottom: 1rem;
            img {
                width: 100%;
                height: 314px;
                border-radius: 8px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .oc-price {
        font-size: 1.15rem;
    }

    .check-date {
        margin-bottom: 1rem;
        .btn {
            white-space: nowrap;
            margin-left: 1rem;
        }
    }

    .booking-detail {
        .booking-product {
            @include boxContent;
        }
    }

    .booking-widget {
        .calendars {
            display: flex;

            .calendar-item {
                border-radius: 1rem;
                background-color: rgba($color: #E42518, $alpha: 0.16);
                color: black;
                border: 1px solid rgba($color: #E42518, $alpha: 0.16);
                width: 100%;
                padding: .5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 3px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.disabled {
                    background-color: transparent;
                    border: 1px solid $grey;
                }

                &.selected {
                    background-color: $primary;
                    color: white;
                    border-color: $primary;
                }

                .day {
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .date {
                    font-size: 48px;
                }

                .price {
                    font-weight: bold;
                }


            }
        }
    }
    .subtitle {
        font-weight: bold;
        margin-bottom: .5rem;
    }
}