@import 'variables';
@import 'global';
@import 'navigation';
@import 'login';
@import 'index';
@import 'template-tables';

@import '../assets/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.btn {
  padding: 14px 1.5rem;
  border-radius: .5rem;

  &.btn-sm {
    padding: 6px 24px;
  }
}

.content {
  padding-bottom: 40px;
}

.form-control, .form-select {
  padding: 14px 1rem;
  border-radius: 8px;
  border:1px solid #B5B5B6;
  font-weight: 300;
  
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba($color: #1A1A1D, $alpha: 0.2);
    opacity: 1; /* Firefox */
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($color: #1A1A1D, $alpha: 0.2);
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba($color: #1A1A1D, $alpha: 0.2);
  }
  
}
